
body {
	overflow-x:hidden;
}

.back-1 {
	color: #515151;
}
		
.back-2 {
	background-color: #E1D8FF;
	color: #515151;
}

.back-3 {
	background-color: #E1D8FF;
	color: #515151;
}

.ff-main {
	font-family: Verdana;
	font-size: 24px;
}

.ff-secondary {
	font-family: Verdana;
	font-size: 18px;
}

p.pos-left {
	padding-left: 18rem;
}

p.pos-right {
	padding-right: 18rem;
}

.container-title {
	padding-top: 6rem;
	padding-bottom: 6rem;
}
		
.container-block {
	padding-top: 1rem;
	padding-bottom: 1rem;
}
		
.card-block {
	padding: .5rem 1rem;
	border-left: .25rem solid #606060;
}	

.content-primary {
	padding-top: 2rem;
	padding-bottom: 6rem;
}

.content-sep {
	padding-top: 6rem;
	padding-bottom: 6rem;
}

.fade-in {
	opacity: 0;
	
	animation: fadeIn ease 2s;
	-webkit-animation: fadeIn ease 2s;
	-moz-animation: fadeIn ease 2s;
	-o-animation: fadeIn ease 2s;
	-ms-animation: fadeIn ease 2s;
  
	animation-delay: 2s;
	-webkit-animation-delay: 2s;
	-moz-animation-delay: 2s;
	-o-animation-delay: 2s;
	-ms-animation-delay: 2s;
	
	animation-fill-mode:forwards;
	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	-o-animation-fill-mode:forwards;
	-ms-animation-fill-mode:forwards;

}

.fade-in-nodelay {
	opacity: 0;
	
	animation: fadeIn ease 2s;
	-webkit-animation: fadeIn ease 2s;
	-moz-animation: fadeIn ease 2s;
	-o-animation: fadeIn ease 2s;
	-ms-animation: fadeIn ease 2s;
	
	animation-fill-mode:forwards;
	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	-o-animation-fill-mode:forwards;
	-ms-animation-fill-mode:forwards;

}

@keyframes fadeIn {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.slide-left {
	width: 100%;
	
	animation: slide-left 2s;
	-webkit-animation: slide-left 2s;
	-moz-animation: slide-left 2s;
	-o-animation: slide-left 2s;
	-ms-animation: slide-left 2s;
	
	animation-fill-mode:forwards;
	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	-o-animation-fill-mode:forwards;
	-ms-animation-fill-mode:forwards;
}

@keyframes slide-left {
	from { margin-left: 100%; transform: translateX(100%); }
	to { margin-left: 0%; transform: translateX(0%); }
}

<!-- Media Queries -->

@media screen and (max-width: 480px) {
	
	p.pos-left {
		padding-left: 0rem;
	}

	p.pos-right {
		padding-right: 0rem;
	}		
	
}



